/* Start Reused STYLE */
.container {
  padding-inline: 16px;
}
.btn {
  height: 50px;
  color: var(--text-white);
  padding-inline: 30px;
  border-radius: var(--radius-pill);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  transition: var(--transition-1);
}
.btn-primary {
  background-color: var(--bg-majorelle-blue);
  &:is(:hover, :focus-visible) {
    background-color: var(--bg-ocean-blue);
    box-shadow: var(--shadow-2);
  }
}
.btn-secondary {
  background-color: var(--bg-red-salsa);
  &:is(:hover, :focus-visible) {
    background-color: var(--bg-english-vermillion);
    box-shadow: var(--shadow-3);
  }
}

.section {
  padding-block-end: var(--section-spacing);
}
.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title {
  color: var(--text-gunmetal);
  font-weight: var(--weight-semiBold);
  line-height: 1.45;
}
.h1 {
  font-size: var(--fontSize-1);
  line-height: 1.2;
}
.h2 {
  font-size: var(--fontSize-2);
}
.h3 {
  font-size: var(--fontSize-4);
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-2);
}
.w-100 {
  width: 100%;
}
.section-subtitle {
  color: var(--text-majorelle-blue);
  font-weight: var(--weight-medium);
  text-transform: uppercase;
}
.section-title{ 
  margin-block: 10px;
}
.thumbnail {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--bg-gainsboro);
  overflow: hidden;
}

/* End Reused STYLE */
